* {
  box-sizing: border-box;
  text-decoration: none;
}

.nav {
  display: flex;
  background-color: #226e92;
  color: #fffeee;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
  border-radius: 10px;
  font-size: 20px;
}

.nav :visited {
  color: #fffeee;
}

.nav :hover {
  transition: 0.3s;
  color: #ffffff98;
}
